<div class="container mt-3">
  <form [formGroup]="form" (ngSubmit)="submit()">
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="inputEmail4">Email</label>
        <input type="email" class="form-control" id="inputEmail4" placeholder="Email" formControlName="email"
          [ngClass]="{'has-error': form.get('email').invalid && form.get('email').touched}">

        <div class="validation" *ngIf="form.get('email').invalid && form.get('email').touched">
          <small *ngIf="form.get('email').errors.required">This field can't be empty. </small>
          <small *ngIf="form.get('email').errors.email">Enter the correct email</small>
        </div>
      </div>
      <div class="form-group col-md-6">
        <label for="inputPassword4">Password</label>
        <input type="password" class="form-control" id="inputPassword4" placeholder="Password"
          formControlName="password"
          [ngClass]="{'has-error': form.get('password').invalid && form.get('password').touched}">
        <div class="validation" *ngIf="form.get('password').invalid && form.get('password').touched">
          <small *ngIf="form.get('password').errors.required">This field can't be empty. </small>
          <small *ngIf="form.get('password').errors.minlength">
            Length must be at least {{form.get('password').errors.minlength.requiredLength}} characters long.
            Current length is {{form.get('password').errors.minlength.actualLength}} characters long
          </small>
        </div>
      </div>
    </div>
    <div class="alert alert-success" formGroupName="fullAddress">
      <div class="form-group">
        <label for="inputAddress">Address</label>
        <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St" formControlName="address">
      </div>
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="inputCity">City</label>
          <input type="text" class="form-control" id="inputCity" formControlName="city">
        </div>
        <div class="form-group col-md-4">
          <label for="inputState">Country</label>
          <select id="inputState" class="form-control" formControlName="country">
            <option selected>Rissia</option>
            <option>USA</option>
            <option>England</option>
          </select>
        </div>
        <div class="form-group col-md-2">
          <label for="inputZip">Zip</label>
          <input type="text" class="form-control" id="inputZip" formControlName="zip">
        </div>
      </div>
    </div>
    <div class="form-group">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" id="gridCheck">
        <label class="form-check-label" for="gridCheck">
          Check me out
        </label>
      </div>
    </div>
    <button type="submit" class="btn btn-primary" [disabled]="form.invalid">Sign in</button>
  </form>
</div>
